

html{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

:root{
    --body-main-color: #000;
    --hover-links: #A8FF69;
    --hover-links-secundary: #FFF38B;
    --description-color: #ABABAB;

    --max-width-dimensions: 1050px;
    --container-spacing: 7rem;

    --js-color: #FFF300;
    --html-color: #FF9300;
    --css-color: #0070FF;
    --bootstrap-color: #8F00FF;
    --git-color: #F44D27;

    --linkedin-color: #0A66C2;
    --gihub-color: #6cc644;
    --email-color: #c71610;

    --regular-font-size: 1.2rem;
}

*, *::before, *::after{
    box-sizing: inherit;
    background-color: #272727;
}

body{
    margin-top: 0;
    margin-bottom: 0;
    
    margin-left: 2rem;
    margin-right: 2rem;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: #fff;
}

/* UTILITIES */
.btn{
    background-color: transparent;
    border: none;
    padding: 10px 16px;
}
.general-margin{
    margin: 0 2rem;
}
/* UTILITIES */

/* NAVBAR */
.navbar{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-dimensions);
    margin: 0 auto;
}
.navbar__logo{
    font-size: 1.5rem;
    transition: 0.2s;
}
.navbar__logo:hover{
    color: var(--hover-links-secundary);
    cursor: pointer;
    scale: 1.1;
}
.navlink__container{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.navbar__links{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 0.8;
    transition: 0.2s;
}
.navbar__links--open{
        flex-direction: column;
        border: 1px solid red;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 35px;
        width: 100%;
        text-align: right;
}
.nav__link{
    transition: 0.2s;
}
.nav__link:hover{
    color: var(--hover-links);
    cursor: pointer;
    scale: 1.1;
}
.nav__button{
    /* visibility: hidden; */
    font-size: 35px;
    display: flex;
    display: none;
}
.nav__button:hover{
    cursor: pointer;
}

.bx-menu{
    color: #fff;
}


@media only screen and (max-width: 768px){
    .btn{
        padding: 10px 0;
    }
    .nav__button{
        display: flex;
        padding: 0 0;
    }
    .navbar{
        margin: 0 0rem;
        height: 57px;
    }
    .navlink__container{
        /* border: 1px solid red; */
        /* padding: 20px; */
    }
    .navbar__links{
        flex-direction: column;
        padding: 20px;
        position: absolute;
        right: -100%;
        top: 35px;
        width: 100%;
        height: 100vh;
        text-align: right;
        display: none;
        /* visibility: hidden; */
        
        transition: 0.3s;
    }
    .show-nav{
        right: 0;
        /* visibility: visible; */
        display: block;
    }
    
}
/* NAVBAR */

/* HEADER */
    .header{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        /* margin-top: var(--container-spacing); */
        max-width:var(--max-width-dimensions);
        margin: var(--container-spacing) auto 0 auto;
    }
    .header__info{
        width: 50%;
    }
    .header__legend{
        font-weight: 300;
        color: var(--hover-links-secundary);
    }
    .header__title{
        font-weight: 500;
    }
    .header__desc{
        color: var(--description-color);
    }
    .header__pic-container{
        width: auto;
        clip-path: circle(61.8% at 50% 38%);
    }
    .header__pic{
        width: 300px;
    }

    @media only screen and (max-width: 768px){
        .header__info{
            width: 100%;
        }
        .header__pic{
            display: none;
        }
    }
    @media only screen and (max-width: 1000px){
        .header__info{
            width: 100%;
        }
        .header__pic-container{
            display: none;
        }
    }
/* HEADER */

/* ABOUT ME */
    .aboutMe{
        max-width: var(--max-width-dimensions);
        margin: var(--container-spacing) auto 0 auto;
    }
    .aboutMe p{
        font-size: var(--regular-font-size);
    }
    .aboutMe__title{
        font-size: 2rem;
        font-weight: 400;
        color: var(--hover-links);
    }
/* ABOUT ME */

/* EXPERIENCE */
    .experience{
        max-width: var(--max-width-dimensions);
        margin: var(--container-spacing) auto 0 auto;
        max-height: 1352px;
        overflow: hidden;
        transition: 0.3s;

        /* scrollbar-width: thin; */
        /* scrollbar-color: var(--hover-links) #fff; */
    }
    /* test scrollbar */
        .experience:hover{
            overflow-y: auto;
        }
        
        .experience:hover::-webkit-scrollbar{
            width: 2px;
            background-color: transparent;
        }
        .experience:hover::-webkit-scrollbar-thumb{
            background-color: #999;
        }
    /* test scrollbar */
    .experience::-webkit-scrollbar-track{
        border-radius: 50px;
    }
    /* test scrollbar */
    .experience__title{
        font-size: 2rem;
        font-weight: 400;
        color: var(--hover-links);
    }
    /* .experience--first-box{
        margin-top:2rem;
    } */
    /* regular */
    .experience__content-regular{
        display: flex;
        gap: 1rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
        padding-right: 5px;
    }
    .experience__text-proyect{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .experience__text-proyect p{
        font-size: var(--regular-font-size);
    }
    .experience__text-proyect span{
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--hover-links-secundary);
    }
    .experience__icons{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .exp__icon-html{
        color: var(--html-color);
    }
    .exp__icon-css{
        color: var(--css-color);
    }
    .exp__icon-bootstrap{
        color: var(--bootstrap-color);
    }
    .icons{
        /* background-color: red; */
        /* width: 100px; */
        padding: 0.5rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        /* color: #fff; */
    }
    .icons span{
        color: #fff;
    }
    .icons i{
        font-size: 30px;
    }
    .experience__img-proyect{
        width: 50%;
        /* background-color: red; */
        background-image: url(https://placehold.co/400x300/png);
        background-size: cover;
        background-position: center;
        height: 300px;
        transition: background-image 0.3s ease;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* PROYECT 1 */
    .exp--img-1{
        background-image: linear-gradient(to bottom, #00000058, #00000058), url(/assets/img/a-consultant-co_thumb-min.jpg);
        transition: background-image 0.3s ease;
    }
    .exp__overlay-1{
        background-color: transparent;
        display: none;
    }
    .exp__overlay-1 span{
        background-color: inherit;
        font-size: 2rem;
    }
    .exp--img-1:hover{
        cursor: pointer;
        background-image: linear-gradient(to bottom, #000000df, #000000df), url(/assets/img/a-consultant-co_thumb-min.jpg); 
        /* scale: 1.1; */
        & .exp__overlay-1{
            display: block;
        }
    }
    /* PROYECT 2 */
    .exp--img-2{
        background-image: linear-gradient(to bottom, #00000058, #00000058), url(/assets/img/Westmire\ headset-min.png);
        transition: background-image 0.3s ease;
    }
    .exp__overlay-2{
        background-color: transparent;
        display: none;
    }
    .exp__overlay-2 span{
        background-color: inherit;
        font-size: 2rem;
    }
    .exp--img-2:hover{
        cursor: pointer;
        background-image: linear-gradient(to bottom, #000000df, #000000df), url(/assets/img/Westmire\ headset-min.png); 
        /* scale: 1.1; */
        & .exp__overlay-2{
            display: block;
        }
    }



    /* reverse */
    .experience__content-reverse{
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
        padding-right: 5px;
    }

    @media only screen and (max-width: 768px){
        .experience__content-reverse{
            flex-direction: column;
        }
        .experience__text-proyect{
            width: 100%;
        }
        .experience__img-proyect{
            width: 100%;
            height: 350px;
        }

        .experience__content-regular{
            flex-direction: column;
        }
    }
/* EXPERIENCE */

/* STACK */
    .stack{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: var(--max-width-dimensions);
        margin: var(--container-spacing) auto 0 auto;
    }
    /* .stack__header span{
        font-size: 2rem;
        font-weight: 400;
    } */
    .stack__title{
        font-size: 2rem;
        font-weight: 400;
        color: var(--hover-links);
    }
    .stack__subtitle{
        font-size: var(--regular-font-size);
    }
    .stack__icons-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .stack-icons{
        /* background-color: grey; */
        padding: 1rem 1rem;
    }

    .tech--icon{
        font-size: 100px;
        cursor: pointer;
        transition: 0.3s;
        /* color: var(--hover-links); */
        text-shadow: 2px 2px 2px 2px #fff;
    }
    .tech--icon:hover{
        scale: 0.9;
    }
    .icon--1{
        color: var(--js-color);
    }
    .icon--2{
        color: var(--html-color);
    }
    .icon--3{
        color: var(--css-color);
    }
    .icon--4{
        color: var(--bootstrap-color);
    }
    .icon--5{
        color: var(--git-color);
    }
    /* ---------------------- */
    .icon--1:hover{
        text-shadow: 0px 0px 30px #fff;  
        color: var(--body-main-color);
    }
    .icon--2:hover{
        text-shadow: 2px 1px 30px #fff;
        color: var(--body-main-color);
    }
    .icon--3:hover{
        text-shadow: 2px 1px 30px #fff;
        color: var(--body-main-color);
    }
    .icon--4:hover{
        text-shadow: 2px 1px 30px #fff;
        color: var(--body-main-color);
    }
    .icon--5:hover{
        text-shadow: 2px 1px 30px #fff;
        color: var(--body-main-color);
    }
    /* .tech--icon:hover{
        color: red;
    } */
    /* .stack__icons-container:nth-child(1) tech{
        color: var(--js-color);
    } */
/* STACK */

/* Reviews */
    .reviewsContainer{
        max-width: var(--max-width-dimensions);
        margin: var(--container-spacing) auto 0 auto;
        overflow: auto;
        /* overflow: hidden; */
    }
    .reviewsContainer::-webkit-scrollbar{
        background-color: transparent;
        width: 2px;
    }


    /* reviews toolbar */
    .reviewsContainer:hover{
        overflow-y: auto;
        cursor: pointer;
    }
    
    .reviewsContainer:hover::-webkit-scrollbar{
        width: 2px;
        background-color: transparent;
    }
    .reviewsContainer:hover::-webkit-scrollbar-thumb{
        background-color: #999;
    }
    /* reviews toolbar */




    .reviews__title{
        font-size: 2rem;
        font-weight: 400;
        color: var(--hover-links);
    }
    .reviews__card-container{
        max-width: var(--max-width-dimensions);
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .reviews__card{
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .review__profile-icon{
        display: flex;
        justify-content: center;
        width: 40%;
    }
    .review__profile-icon i{
        font-size: 15rem;
    }
    .review__content{
        width: 70%;
    }
    .review{
        font-size: var(--regular-font-size);
    }


    @media only screen and (max-width: 768px){
        .reviews__card{
            flex-direction: column;
        }
        .review__content{
            width: 100%;
        }
    }

    
/* Reviews */

/* CERTIFICATIONS */
    .certifications{
        max-width: var(--max-width-dimensions);
        margin: 0 auto;
        margin: var(--container-spacing) auto 0 auto;
    }
    .certi___title{
        font-size: 2rem;
        font-weight: 400;
        color: var(--hover-links);
    }
    .certi__container{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }
    .certi__item-container{
        display: flex;
        flex-direction: column;
    }
    .certi__item-container span{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--hover-links-secundary);
    }
    .certification{
        width: 500px;
        height: 280px;
        background-color: blue;
        
    }
    .certi--html-and-css{
        background-image: url(/assets/img/html&css.png);
        background-size: cover;
        background-position: center;
        transition: 0.3s;
        
    }
    .certi--html-and-css:hover{
        background: linear-gradient(to bottom, #00000058, #00000058), url(/assets/img/html&css.png);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        scale: 1.1;
    }

    .certi--js{
        background-image: url(/assets/img/js.png);
        background-size: cover;
        background-position: center;
        transition: 0.3s;
    }
    .certi--js:hover{
        background: linear-gradient(to bottom, #00000058, #00000058), url(/assets/img/js.png);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        scale: 1.1;
        
    }
    @media only screen and (max-width: 768px){
        .certi--html-and-css{
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .certi--js{
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .certification {
            height: 173px;
        }
        
    }
    @media only screen and (max-width: 1130px){
        .certi__container{
            flex-direction: column;
        }
        .certi__item-container{
            align-items: center;
        }
    }
/* CERTIFICATIONS */

/* CONTACT ME */
    .contactMe{
        max-width: var(--max-width-dimensions);
        margin: var(--container-spacing) auto 0 auto;
        margin-bottom: 10rem;
        /* border: 1px solid red; */
    }
    .contact__title{
        font-size: 2rem;
        font-weight: 400;
        color: var(--hover-links);
    }
    .cont__items-container{
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .contact__item{
        text-align: center;
    }
    .contact__item-title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--hover-links-secundary);
    }
    .contact__icon i{
        font-size: 7rem;
        transition: 0.3s;
    }
    .contact__icon .cont--linkedin:hover{
        color: var(--linkedin-color);
    }
    .contact__icon .cont--github:hover{
        color: var(--gihub-color);
    }
    .contact__icon .cont--email:hover{
        color: var(--email-color);
    }
    @media only screen and (max-width: 768px){
        .cont__items-container{
            flex-direction: column;
            gap: 2rem;
            margin-top: 2rem;
        }
        .contact__item{
            scale: 1;
        }
    }
/* CONTACT ME */

/* FOOTER */
    /* .footer{
        background-color: #000;
        text-align: center;
    }
    .footer span{
        background-color: inherit;
    } */
/* FOOTER */
    



    
    
